<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
<div id="container" style="height: 100%"></div>
<script type="text/javascript" src="/static/echarts.js"></script>
<script type="text/javascript" src="/static/dataTool.js"></script>
<script type="text/javascript" src="/static/china.js"></script>
<script type="text/javascript" src="/static/world.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=litwTUbYUu77A3O8dTIZU5zBvCNnM58h"></script>
<script type="text/javascript" src="/static/bmap.js"></script>
<script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);



function renderItem(params, api) {
    var coords = [
    [
              107.9296875,
              21.53484700204879
            ],
            [
              108.80859375,
              21.53484700204879
            ],
            [
              109.599609375,
              21.37124437061831
            ],
            [
              109.599609375,
              20.715015145512087
            ],
            [
              110.0390625,
              20.2209657795223
            ],
            [
              110.478515625,
              20.385825381874263
            ],
            [
              110.478515625,
              20.96143961409684
            ],
            [
              111.181640625,
              21.289374355860424
            ],
            [
              112.32421875,
              21.616579336740603
            ],
            [
              113.37890625,
              22.105998799750566
            ],
            [
              113.5546875,
              22.51255695405145
            ],
            [
              114.169921875,
              22.268764039073968
            ],
            [
              115.400390625,
              22.59372606392931
            ],
            [
              117.24609374999999,
              23.483400654325642
            ],
            [
              118.740234375,
              24.926294766395593
            ],
            [
              119.61914062499999,
              25.799891182088334
            ],
            [
              120.41015624999999,
              27.137368359795584
            ],
            [
              120.9375,
              27.916766641249065
            ],
            [
              121.640625,
              28.76765910569123
            ],
            [
              121.640625,
              29.152161283318915
            ],
            [
              122.34374999999999,
              29.916852233070173
            ],
            [
              121.9921875,
              30.14512718337613
            ],
            [
              121.201171875,
              30.372875188118016
            ],
            [
              121.640625,
              30.826780904779774
            ],
            [
              121.201171875,
              31.353636941500987
            ],
            [
              121.9921875,
              31.50362930577303
            ],
            [
              121.37695312499999,
              32.175612478499325
            ],
            [
              120.76171875,
              32.54681317351514
            ],
            [
              119.267578125,
              34.813803317113155
            ],
            [
              120.05859375,
              35.67514743608467
            ],
            [
              120.84960937499999,
              36.31512514748051
            ],
            [
              121.81640624999999,
              36.80928470205937
            ],
            [
              122.431640625,
              37.09023980307208
            ],
            [
              122.431640625,
              37.43997405227057
            ],
            [
              121.640625,
              37.50972584293751
            ],
            [
              120.80566406250001,
              37.77071473849609
            ],
            [
              120.30029296875,
              37.59682400108367
            ],
            [
              119.92675781249999,
              37.38761749978395
            ],
            [
              119.7509765625,
              37.17782559332976
            ],
            [
              119.20166015625,
              37.24782120155428
            ],
            [
              119.00390625,
              37.35269280367274
            ],
            [
              119.02587890624999,
              37.63163475580643
            ],
            [
              119.2236328125,
              37.70120736474139
            ],
            [
              119.091796875,
              37.92686760148135
            ],
            [
              118.47656249999999,
              38.06539235133249
            ],
            [
              117.94921874999999,
              38.272688535980976
            ],
            [
              117.59765625,
              38.61687046392973
            ],
            [
              118.21289062499999,
              39.36827914916014
            ],
            [
              116.98242187499999,
              39.70718665682654
            ],
            [
              116.103515625,
              40.58058466412761
            ],
            [
              115.31249999999999,
              40.713955826286046
            ],
            [
              114.43359375,
              40.17887331434696
            ],
            [
              113.02734374999999,
              40.3130432088809
            ],
            [
              112.587890625,
              41.04621681452063
            ],
            [
              111.70898437499999,
              41.376808565702355
            ],
            [
              111.09374999999999,
              40.97989806962013
            ],
            [
              111.26953125,
              39.639537564366684
            ],
            [
              109.248046875,
              39.436192999314095
            ],
            [
              108.10546875,
              39.842286020743394
            ],
            [
              107.666015625,
              39.36827914916014
            ],
            [
              106.435546875,
              39.232253141714885
            ],
            [
              104.501953125,
              38.61687046392973
            ],
            [
              103.88671875,
              39.30029918615029
            ],
            [
              102.39257812499999,
              40.04443758460856
            ],
            [
              101.337890625,
              40.04443758460856
            ],
            [
              100.72265625,
              39.70718665682654
            ],
            [
              100.01953125,
              39.30029918615029
            ],
            [
              100.81054687499999,
              38.8225909761771
            ],
            [
              102.568359375,
              38.272688535980976
            ],
            [
              102.3046875,
              37.020098201368114
            ],
            [
              103.35937499999999,
              37.09023980307208
            ],
            [
              104.501953125,
              36.66841891894786
            ],
            [
              104.4140625,
              36.03133177633187
            ],
            [
              104.853515625,
              36.38591277287651
            ],
            [
              105.556640625,
              36.31512514748051
            ],
            [
              105.380859375,
              35.746512259918504
            ],
            [
              104.58984375,
              35.17380831799959
            ],
            [
              103.798828125,
              33.7243396617476
            ],
            [
              103.0078125,
              33.797408767572485
            ],
            [
              102.568359375,
              33.50475906922609
            ],
            [
              103.18359375,
              32.99023555965106
            ],
            [
              102.3046875,
              32.175612478499325
            ],
            [
              102.12890625,
              32.76880048488168
            ],
            [
              101.689453125,
              32.76880048488168
            ],
            [
              100.81054687499999,
              31.87755764334002
            ],
            [
              100.986328125,
              31.052933985705163
            ],
            [
              101.689453125,
              31.353636941500987
            ],
            [
              102.12890625,
              31.052933985705163
            ],
            [
              101.689453125,
              30.524413269923986
            ],
            [
              101.25,
              29.6880527498568
            ],
            [
              101.865234375,
              29.6880527498568
            ],
            [
              102.48046875,
              30.14512718337613
            ],
            [
              102.65625,
              29.53522956294847
            ],
            [
              103.18359375,
              28.613459424004414
            ],
            [
              102.3046875,
              28.07198030177986
            ],
            [
              102.39257812499999,
              27.293689224852407
            ],
            [
              102.3046875,
              26.509904531413927
            ],
            [
              103.271484375,
              26.27371402440643
            ],
            [
              103.35937499999999,
              26.667095801104814
            ],
            [
              104.23828125,
              27.371767300523047
            ],
            [
              105.1171875,
              27.68352808378776
            ],
            [
              105.380859375,
              27.059125784374068
            ],
            [
              106.083984375,
              26.82407078047018
            ],
            [
              105.380859375,
              26.115985925333536
            ],
            [
              104.765625,
              25.3241665257384
            ],
            [
              104.853515625,
              24.206889622398023
            ],
            [
              105.380859375,
              23.483400654325642
            ],
            [
              106.083984375,
              23.079731762449878
            ],
            [
              106.69921875,
              22.67484735118852
            ],
            [
              106.5234375,
              22.268764039073968
            ],
            [
              107.138671875,
              21.94304553343818
            ],
            [
              107.9296875,
              21.53484700204879
            ]
    ];
    var points = [];
    for (var i = 0; i < coords.length; i++) {
        points.push(api.coord(coords[i]));
    }
    var color = api.visual('color');

    return {
        type: 'polygon',
        shape: {
            points: echarts.graphic.clipPointsByRect(points, {
                x: params.coordSys.x,
                y: params.coordSys.y,
                width: params.coordSys.width,
                height: params.coordSys.height
            })
        },
        style: api.style({
            fill: color,
            stroke: echarts.color.lift(color)
        })
    };
}


function renderItemHai(params, api) {
    var coords = [
    [
              108.67675781249999,
              19.37334071336406
            ],
            [
              108.6328125,
              19.20742852680121
            ],
            [
              108.61083984375,
              18.93746442964186
            ],
            [
              108.61083984375,
              18.6670631919266
            ],
            [
              108.69873046875,
              18.47960905583197
            ],
            [
              108.87451171875,
              18.417078658661257
            ],
            [
              109.22607421875,
              18.25021997706561
            ],
            [
              109.44580078125,
              18.166730410221938
            ],
            [
              109.66552734375,
              18.396230138028827
            ],
            [
              110.06103515625,
              18.417078658661257
            ],
            [
              110.23681640625,
              18.58377568837094
            ],
            [
              110.41259765625,
              18.625424540701264
            ],
            [
              110.5224609375,
              18.8335153964335
            ],
            [
              110.56640625,
              19.08288436934017
            ],
            [
              110.74218749999999,
              19.290405639497994
            ],
            [
              110.85205078124999,
              19.435514339097825
            ],
            [
              111.02783203125,
              19.621892180319374
            ],
            [
              111.0498046875,
              19.84939395842279
            ],
            [
              110.98388671874999,
              19.993998469485504
            ],
            [
              110.67626953125,
              20.159098270646936
            ],
            [
              110.5224609375,
              20.076570104545173
            ],
            [
              110.28076171875,
              20.097206227083888
            ],
            [
              110.0830078125,
              20.035289711352377
            ],
            [
              109.84130859375,
              19.993998469485504
            ],
            [
              109.70947265625,
              20.097206227083888
            ],
            [
              109.53369140625,
              19.84939395842279
            ],
            [
              109.248046875,
              19.932041306115536
            ],
            [
              109.1162109375,
              19.84939395842279
            ],
            [
              109.248046875,
              19.746024239625427
            ],
            [
              109.1162109375,
              19.663280219987662
            ],
            [
              108.67675781249999,
              19.37334071336406
            ]
    ];
    var points = [];
    for (var i = 0; i < coords.length; i++) {
        points.push(api.coord(coords[i]));
    }
    var color = api.visual('color');

    return {
        type: 'polygon',
        shape: {
            points: echarts.graphic.clipPointsByRect(points, {
                x: params.coordSys.x,
                y: params.coordSys.y,
                width: params.coordSys.width,
                height: params.coordSys.height
            })
        },
        style: api.style({
            fill: color,
            stroke: echarts.color.lift(color)
        })
    };
}

function renderItemTai(params, api) {
    var coords = [
    [
              120.0146484375,
              23.039297747769726
            ],
            [
              120.1904296875,
              22.755920681486405
            ],
            [
              120.41015624999999,
              22.411028521558706
            ],
            [
              120.5419921875,
              22.30942584120019
            ],
            [
              120.76171875,
              22.024545601240337
            ],
            [
              120.87158203125,
              22.268764039073968
            ],
            [
              121.06933593749999,
              22.63429269379353
            ],
            [
              121.28906250000001,
              22.978623970384913
            ],
            [
              121.4208984375,
              23.28171917560002
            ],
            [
              121.59667968749999,
              23.765236889758672
            ],
            [
              121.728515625,
              24.186847428521244
            ],
            [
              121.86035156249999,
              24.56710835257599
            ],
            [
              121.86035156249999,
              24.826624956562167
            ],
            [
              122.03613281249999,
              25.045792240303445
            ],
            [
              121.904296875,
              25.16517336866393
            ],
            [
              121.6845703125,
              25.304303764403617
            ],
            [
              121.5087890625,
              25.224820176765036
            ],
            [
              121.31103515625,
              25.12539261151203
            ],
            [
              121.09130859375,
              24.986058021167594
            ],
            [
              120.91552734375,
              24.746831298412058
            ],
            [
              120.52001953124999,
              24.387127324604496
            ],
            [
              120.38818359375,
              24.00632619875113
            ],
            [
              120.30029296875,
              23.805449612314625
            ],
            [
              120.16845703125,
              23.483400654325642
            ],
            [
              120.14648437499999,
              23.079731762449878
            ],
            [
              120.03662109374999,
              22.958393318086348
            ],
            [
              120.0146484375,
              23.039297747769726
            ]
    ];
    var points = [];
    for (var i = 0; i < coords.length; i++) {
        points.push(api.coord(coords[i]));
    }
    var color = api.visual('color');

    return {
        type: 'polygon',
        shape: {
            points: echarts.graphic.clipPointsByRect(points, {
                x: params.coordSys.x,
                y: params.coordSys.y,
                width: params.coordSys.width,
                height: params.coordSys.height
            })
        },
        style: api.style({
            fill: color,
            stroke: echarts.color.lift(color)
        })
    };
}

option = {
    backgroundColor: 'transparent',
    title: {
        text: '北宋地图',
        left: 'center',
        textStyle: {
            color: '#000'
        }
    },
    tooltip : {
        trigger: 'item',
        formatter: '{b}'
    },
    bmap: {
        center: [104.114129, 37.550339],
        zoom: 5,
        roam: true,
        mapStyle: {
            styleJson: [
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": {
                            "color": "#6699CC"
                        }
                    },
                    {
                        "featureType": "land",
                        "elementType": "all",
                        "stylers": {
                            "color": "#DDDDDD"
                        }
                    },
                    {
                        "featureType": "boundary",
                        "elementType": "geometry",
                        "stylers": {
                            "color": "#064f85"
                        }
                    },
                    {
                        "featureType": "railway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "highway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "geometry",
                        "stylers": {
                            "color": "#004981"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "geometry.fill",
                        "stylers": {
                            "color": "#00508b"
                        }
                    },
                    {
                        "featureType": "poi",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "green",
                        "elementType": "all",
                        "stylers": {
                            "color": "#056197",
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "subway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "manmade",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "local",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "labels",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "boundary",
                        "elementType": "geometry.fill",
                        "stylers": {
                            "color": "#029fd4"
                        }
                    },
                    {
                        "featureType": "building",
                        "elementType": "all",
                        "stylers": {
                            "color": "#1a5787"
                        }
                    },
                    {
                        "featureType": "label",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    }
            ]
        }
    },
    series : [
        {
            type: 'custom',
            coordinateSystem: 'bmap',
            renderItem: renderItem,
            itemStyle: {
                normal: {
                  color: '#FFC299',
                    opacity: 0.5
                }
            },
            animation: false,
            silent: true,
            data: [0],
            z: -100
        },  
        {
            type: 'custom',
            coordinateSystem: 'bmap',
            renderItem: renderItemTai,
            itemStyle: {
                normal: {
                  color: '#FFC299',
                    opacity: 0.5
                }
            },
            animation: false,
            silent: true,
            data: [0],
            z: -100
        },
        {
            type: 'custom',
            coordinateSystem: 'bmap',
            renderItem: renderItemHai,
            itemStyle: {
                normal: {
                    color: '#FFC299',
                    opacity: 0.5
                }
            },
            animation: false,
            silent: true,
            data: [0],
            z: -100
        },
    ]
};


myChart.setOption(option);
// 获取百度地图实例，使用百度地图自带的控件
var bmap = myChart.getModel().getComponent('bmap').getBMap();


bmap.addControl(new BMap.MapTypeControl());

//调用百度的方法，使用bmap对象
	var point = new BMap.Point(106.404, 39.915);
	bmap.centerAndZoom(point, 1);

var point1 = new BMap.Point(110.404, 34.915);
  var opts = {
      position: point1,    // 指定文本标注所在的地理位置
      offset: new BMap.Size(0, 0),    //设置文本偏移量
  }
  var label = new BMap.Label("北宋", opts, {
    offset: new BMap.Size(0, 0)
  });  // 创建文本标注对象
label.setStyle({
    color: "rad",
    backgroundColor: 'transparent',//文本背景色
    borderColor: 'transparent',//文本框边框色
    fontSize: "19px",
    height: "20px",
    lineHeight: "20px",
    fontFamily: "微软雅黑"
});
bmap.addOverlay(label);

</script>
</body>
</html>
