<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
<div id="container" style="height: 100%"></div>
<script type="text/javascript" src="/static/echarts.js"></script>
<script type="text/javascript" src="/static/dataTool.js"></script>
<script type="text/javascript" src="/static/china.js"></script>
<script type="text/javascript" src="/static/world.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=litwTUbYUu77A3O8dTIZU5zBvCNnM58h"></script>
<script type="text/javascript" src="/static/bmap.js"></script>
<script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);


function renderItem(params, api) {
    var coords = [
            [
              108.06152343749999,
              16.172472808397515
            ],
            [
              107.51220703125,
              16.699340234594537
            ],
            [
              106.875,
              17.24574420800713
            ],
            [
              106.534423828125,
              17.748686651728807
            ],
            [
              106.4794921875,
              18.083200903334312
            ],
            [
              106.083984375,
              18.437924653474408
            ],
            [
              105.8203125,
              18.95824648598139
            ],
            [
              105.93017578125,
              19.40443049681278
            ],
            [
              106.12792968749999,
              19.777042202225964
            ],
            [
              106.951904296875,
              20.756113874762082
            ],
            [
              107.76489257812499,
              21.361013117950915
            ],
            [
              108.73168945312499,
              21.514406720030294
            ],
            [
              109.44580078125,
              21.43261686447735
            ],
            [
              109.676513671875,
              21.381474908405597
            ],
            [
              109.70947265625,
              20.64306554672647
            ],
            [
              109.874267578125,
              20.251890313952938
            ],
            [
              110.335693359375,
              20.262197124246534
            ],
            [
              110.54443359375,
              20.447602397594167
            ],
            [
              110.533447265625,
              20.838277806058933
            ],
            [
              110.819091796875,
              21.3303150734318
            ],
            [
              113.35693359375,
              21.912470952680266
            ],
            [
              113.785400390625,
              22.421184710331858
            ],
            [
              114.01611328125,
              22.177231792821342
            ],
            [
              114.49951171875,
              22.40087159030595
            ],
            [
              116.38916015624999,
              22.857194700969636
            ],
            [
              116.927490234375,
              23.301901124188877
            ],
            [
              118.35571289062499,
              24.37712083961039
            ],
            [
              119.43237304687499,
              25.21488107113259
            ],
            [
              119.81689453125,
              26.401710528707707
            ],
            [
              120.34423828125,
              26.96124577052697
            ],
            [
              120.82763671875,
              27.751607687549384
            ],
            [
              121.541748046875,
              28.14950321154457
            ],
            [
              121.761474609375,
              29.046565622728846
            ],
            [
              122.33276367187499,
              29.649868677972304
            ],
            [
              122.420654296875,
              30.24957724046765
            ],
            [
              121.78344726562499,
              30.107117887092357
            ],
            [
              121.14624023437499,
              30.552800413453546
            ],
            [
              122.08007812499999,
              31.203404950917395
            ],
            [
              121.77246093750001,
              31.914867503276223
            ],
            [
              121.025390625,
              32.65787573695528
            ],
            [
              120.5419921875,
              34.19817309627726
            ],
            [
              119.44335937499999,
              34.813803317113155
            ],
            [
              119.83886718750001,
              35.42486791930558
            ],
            [
              121.06933593749999,
              36.4566360115962
            ],
            [
              122.29980468749999,
              36.77409249464195
            ],
            [
              122.607421875,
              37.47485808497102
            ],
            [
              121.55273437499999,
              37.61423141542417
            ],
            [
              120.89355468749999,
              37.82280243352756
            ],
            [
              120.498046875,
              37.68382032669382
            ],
            [
              119.66308593749999,
              37.19533058280065
            ],
            [
              119.091796875,
              37.405073750176925
            ],
            [
              119.44335937499999,
              37.75334401310656
            ],
            [
              118.65234374999999,
              38.16911413556086
            ],
            [
              117.72949218749999,
              38.41055825094609
            ],
            [
              117.99316406249999,
              38.993572058209466
            ],
            [
              118.564453125,
              38.788345355085625
            ],
            [
              119.17968749999999,
              39.36827914916014
            ],
            [
              119.39941406249999,
              39.740986355883564
            ],
            [
              120.498046875,
              40.17887331434696
            ],
            [
              121.025390625,
              40.74725696280421
            ],
            [
              121.904296875,
              40.78054143186033
            ],
            [
              121.904296875,
              40.27952566881291
            ],
            [
              121.025390625,
              39.436192999314095
            ],
            [
              121.4208984375,
              39.095962936305476
            ],
            [
              121.1572265625,
              38.89103282648846
            ],
            [
              121.2451171875,
              38.65119833229951
            ],
            [
              122.431640625,
              39.16414104768742
            ],
            [
              123.48632812499999,
              39.57182223734374
            ],
            [
              124.27734374999999,
              39.740986355883564
            ],
            [
              125.20019531249999,
              39.50404070558415
            ],
            [
              124.93652343749999,
              39.095962936305476
            ],
            [
              124.892578125,
              38.06539235133249
            ],
            [
              125.5078125,
              37.75334401310656
            ],
            [
              126.21093749999999,
              37.61423141542417
            ],
            [
              126.5185546875,
              37.68382032669382
            ],
            [
              126.474609375,
              38.34165619279595
            ],
            [
              126.60644531250001,
              38.788345355085625
            ],
            [
              127.529296875,
              39.36827914916014
            ],
            [
              127.44140625,
              39.740986355883564
            ],
            [
              127.17773437499999,
              39.80853604144591
            ],
            [
              127.001953125,
              40.34654412118006
            ],
            [
              125.859375,
              40.1452892956766
            ],
            [
              124.76074218749999,
              40.3130432088809
            ],
            [
              124.0576171875,
              40.78054143186033
            ],
            [
              123.96972656249999,
              42.261049162113856
            ],
            [
              122.78320312499999,
              42.06560675405716
            ],
            [
              120.9814453125,
              42.032974332441405
            ],
            [
              120.0146484375,
              41.27780646738183
            ],
            [
              117.8173828125,
              41.343824581185686
            ],
            [
              116.103515625,
              41.934976500546604
            ],
            [
              113.9501953125,
              41.47566020027821
            ],
            [
              110.74218749999999,
              41.50857729743935
            ],
            [
              109.4677734375,
              42.09822241118974
            ],
            [
              108.017578125,
              42.293564192170095
            ],
            [
              107.2705078125,
              41.934976500546604
            ],
            [
              108.369140625,
              40.34654412118006
            ],
            [
              106.875,
              38.89103282648846
            ],
            [
              106.6552734375,
              39.740986355883564
            ],
            [
              106.962890625,
              40.64730356252251
            ],
            [
              106.25976562499999,
              40.613952441166596
            ],
            [
              104.9853515625,
              39.57182223734374
            ],
            [
              104.5458984375,
              40.3130432088809
            ],
            [
              105.1171875,
              40.94671366508002
            ],
            [
              104.58984375,
              41.44272637767212
            ],
            [
              102.83203125,
              40.48038142908172
            ],
            [
              101.77734374999999,
              40.88029480552824
            ],
            [
              101.90917968749999,
              42.00032514831621
            ],
            [
              103.0078125,
              43.54854811091286
            ],
            [
              101.513671875,
              44.08758502824516
            ],
            [
              96.94335937499999,
              43.58039085560784
            ],
            [
              96.7236328125,
              43.929549935614595
            ],
            [
              96.328125,
              45.058001435398275
            ],
            [
              93.603515625,
              45.36758436884978
            ],
            [
              88.3740234375,
              46.07323062540835
            ],
            [
              87.7587890625,
              44.62175409623324
            ],
            [
              87.14355468749999,
              42.19596877629178
            ],
            [
              86.396484375,
              41.73852846935917
            ],
            [
              84.5068359375,
              41.934976500546604
            ],
            [
              79.2333984375,
              41.64007838467894
            ],
            [
              75.2783203125,
              40.81380923056958
            ],
            [
              73.8720703125,
              41.0130657870063
            ],
            [
              72.7294921875,
              40.48038142908172
            ],
            [
              72.59765625,
              38.95940879245423
            ],
            [
              72.2900390625,
              37.996162679728116
            ],
            [
              71.54296874999999,
              37.16031654673677
            ],
            [
              74.4873046875,
              36.94989178681327
            ],
            [
              77.0361328125,
              36.20882309283712
            ],
            [
              79.716796875,
              35.496456056584165
            ],
            [
              79.9365234375,
              35.209721645221386
            ],
            [
              82.177734375,
              34.88593094075317
            ],
            [
              83.9794921875,
              35.60371874069731
            ],
            [
              88.06640625,
              36.24427318493909
            ],
            [
              90.4833984375,
              36.56260003738545
            ],
            [
              90.3955078125,
              37.3002752813443
            ],
            [
              89.912109375,
              38.41055825094609
            ],
            [
              92.021484375,
              38.8225909761771
            ],
            [
              94.921875,
              39.198205348894795
            ],
            [
              97.03125,
              38.85682013474361
            ],
            [
              98.3056640625,
              38.85682013474361
            ],
            [
              100.5029296875,
              37.996162679728116
            ],
            [
              101.689453125,
              36.94989178681327
            ],
            [
              102.9638671875,
              35.817813158696616
            ],
            [
              101.865234375,
              35.460669951495305
            ],
            [
              102.5244140625,
              34.52466147177172
            ],
            [
              103.6669921875,
              34.125447565116126
            ],
            [
              104.3701171875,
              32.99023555965106
            ],
            [
              104.150390625,
              32.02670629333614
            ],
            [
              103.271484375,
              30.977609093348686
            ],
            [
              102.26074218749999,
              30.826780904779774
            ],
            [
              102.26074218749999,
              29.458731185355344
            ],
            [
              100.72265625,
              26.745610382199022
            ],
            [
              99.49218749999999,
              26.902476886279832
            ],
            [
              99.31640625,
              27.839076094777816
            ],
            [
              98.0859375,
              27.761329874505233
            ],
            [
              97.119140625,
              27.800209937418252
            ],
            [
              95.712890625,
              27.527758206861886
            ],
            [
              94.306640625,
              26.941659545381516
            ],
            [
              94.658203125,
              24.806681353851964
            ],
            [
              95.7568359375,
              23.805449612314625
            ],
            [
              97.5146484375,
              23.40276490540795
            ],
            [
              97.6904296875,
              21.248422235627014
            ],
            [
              99.0966796875,
              21.453068633086783
            ],
            [
              98.96484375,
              20.591652120829167
            ],
            [
              100.8984375,
              19.80805412808859
            ],
            [
              101.5576171875,
              21.69826549685252
            ],
            [
              102.26074218749999,
              21.04349121680354
            ],
            [
              103.623046875,
              21.207458730482642
            ],
            [
              104.32617187499999,
              20.3034175184893
            ],
            [
              104.94140625,
              19.642587534013032
            ],
            [
              104.765625,
              19.145168196205297
            ],
            [
              105.029296875,
              17.476432197195518
            ],
            [
              106.69921875,
              15.876809064146757
            ],
            [
              107.3583984375,
              16.172472808397515
            ],
            [
              108.06152343749999,
              16.172472808397515
            ]
    ];
    var points = [];
    for (var i = 0; i < coords.length; i++) {
        points.push(api.coord(coords[i]));
    }
    var color = api.visual('color');

    return {
        type: 'polygon',
        shape: {
            points: echarts.graphic.clipPointsByRect(points, {
                x: params.coordSys.x,
                y: params.coordSys.y,
                width: params.coordSys.width,
                height: params.coordSys.height
            })
        },
        style: api.style({
            fill: color,
            stroke: echarts.color.lift(color)
        })
    };
}


function renderItemHai(params, api) {
    var coords = [
    [
              108.67675781249999,
              19.37334071336406
            ],
            [
              108.6328125,
              19.20742852680121
            ],
            [
              108.61083984375,
              18.93746442964186
            ],
            [
              108.61083984375,
              18.6670631919266
            ],
            [
              108.69873046875,
              18.47960905583197
            ],
            [
              108.87451171875,
              18.417078658661257
            ],
            [
              109.22607421875,
              18.25021997706561
            ],
            [
              109.44580078125,
              18.166730410221938
            ],
            [
              109.66552734375,
              18.396230138028827
            ],
            [
              110.06103515625,
              18.417078658661257
            ],
            [
              110.23681640625,
              18.58377568837094
            ],
            [
              110.41259765625,
              18.625424540701264
            ],
            [
              110.5224609375,
              18.8335153964335
            ],
            [
              110.56640625,
              19.08288436934017
            ],
            [
              110.74218749999999,
              19.290405639497994
            ],
            [
              110.85205078124999,
              19.435514339097825
            ],
            [
              111.02783203125,
              19.621892180319374
            ],
            [
              111.0498046875,
              19.84939395842279
            ],
            [
              110.98388671874999,
              19.993998469485504
            ],
            [
              110.67626953125,
              20.159098270646936
            ],
            [
              110.5224609375,
              20.076570104545173
            ],
            [
              110.28076171875,
              20.097206227083888
            ],
            [
              110.0830078125,
              20.035289711352377
            ],
            [
              109.84130859375,
              19.993998469485504
            ],
            [
              109.70947265625,
              20.097206227083888
            ],
            [
              109.53369140625,
              19.84939395842279
            ],
            [
              109.248046875,
              19.932041306115536
            ],
            [
              109.1162109375,
              19.84939395842279
            ],
            [
              109.248046875,
              19.746024239625427
            ],
            [
              109.1162109375,
              19.663280219987662
            ],
            [
              108.67675781249999,
              19.37334071336406
            ]
    ];
    var points = [];
    for (var i = 0; i < coords.length; i++) {
        points.push(api.coord(coords[i]));
    }
    var color = api.visual('color');

    return {
        type: 'polygon',
        shape: {
            points: echarts.graphic.clipPointsByRect(points, {
                x: params.coordSys.x,
                y: params.coordSys.y,
                width: params.coordSys.width,
                height: params.coordSys.height
            })
        },
        style: api.style({
            fill: color,
            stroke: echarts.color.lift(color)
        })
    };
}

function renderItemTai(params, api) {
    var coords = [
    [
              120.0146484375,
              23.039297747769726
            ],
            [
              120.1904296875,
              22.755920681486405
            ],
            [
              120.41015624999999,
              22.411028521558706
            ],
            [
              120.5419921875,
              22.30942584120019
            ],
            [
              120.76171875,
              22.024545601240337
            ],
            [
              120.87158203125,
              22.268764039073968
            ],
            [
              121.06933593749999,
              22.63429269379353
            ],
            [
              121.28906250000001,
              22.978623970384913
            ],
            [
              121.4208984375,
              23.28171917560002
            ],
            [
              121.59667968749999,
              23.765236889758672
            ],
            [
              121.728515625,
              24.186847428521244
            ],
            [
              121.86035156249999,
              24.56710835257599
            ],
            [
              121.86035156249999,
              24.826624956562167
            ],
            [
              122.03613281249999,
              25.045792240303445
            ],
            [
              121.904296875,
              25.16517336866393
            ],
            [
              121.6845703125,
              25.304303764403617
            ],
            [
              121.5087890625,
              25.224820176765036
            ],
            [
              121.31103515625,
              25.12539261151203
            ],
            [
              121.09130859375,
              24.986058021167594
            ],
            [
              120.91552734375,
              24.746831298412058
            ],
            [
              120.52001953124999,
              24.387127324604496
            ],
            [
              120.38818359375,
              24.00632619875113
            ],
            [
              120.30029296875,
              23.805449612314625
            ],
            [
              120.16845703125,
              23.483400654325642
            ],
            [
              120.14648437499999,
              23.079731762449878
            ],
            [
              120.03662109374999,
              22.958393318086348
            ],
            [
              120.0146484375,
              23.039297747769726
            ]
    ];
    var points = [];
    for (var i = 0; i < coords.length; i++) {
        points.push(api.coord(coords[i]));
    }
    var color = api.visual('color');

    return {
        type: 'polygon',
        shape: {
            points: echarts.graphic.clipPointsByRect(points, {
                x: params.coordSys.x,
                y: params.coordSys.y,
                width: params.coordSys.width,
                height: params.coordSys.height
            })
        },
        style: api.style({
            fill: color,
            stroke: echarts.color.lift(color)
        })
    };
}


option = {
    backgroundColor: 'transparent',
    title: {
        text: '东汉地图',
        left: 'center',
        textStyle: {
            color: '#000'
        }
    },
    tooltip : {
        trigger: 'item',
        formatter: '{b}'
    },
    bmap: {
        center: [104.114129, 37.550339],
        zoom: 5,
        roam: true,
        mapStyle: {
            styleJson: [
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": {
                            "color": "#6699CC"
                        }
                    },
                    {
                        "featureType": "land",
                        "elementType": "all",
                        "stylers": {
                            "color": "#DDDDDD"
                        }
                    },
                    {
                        "featureType": "boundary",
                        "elementType": "geometry",
                        "stylers": {
                            "color": "#064f85"
                        }
                    },
                    {
                        "featureType": "railway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "highway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "geometry",
                        "stylers": {
                            "color": "#004981"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "geometry.fill",
                        "stylers": {
                            "color": "#00508b"
                        }
                    },
                    {
                        "featureType": "poi",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "green",
                        "elementType": "all",
                        "stylers": {
                            "color": "#056197",
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "subway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "manmade",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "local",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "labels",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "boundary",
                        "elementType": "geometry.fill",
                        "stylers": {
                            "color": "#029fd4"
                        }
                    },
                    {
                        "featureType": "building",
                        "elementType": "all",
                        "stylers": {
                            "color": "#1a5787"
                        }
                    },
                    {
                        "featureType": "label",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    }
            ]
        }
    },
    series : [  
    {
            type: 'custom',
            coordinateSystem: 'bmap',
            renderItem: renderItem,
            itemStyle: {
                normal: {
                  color: '#FFC299',
                    opacity: 0.5
                }
            },
            animation: false,
            silent: true,
            data: [0],
            z: -100
        },
        {
            type: 'custom',
            coordinateSystem: 'bmap',
            renderItem: renderItemTai,
            itemStyle: {
                normal: {
                  color: '#FFC299',
                    opacity: 0.5
                }
            },
            animation: false,
            silent: true,
            data: [0],
            z: -100
        },
        {
            type: 'custom',
            coordinateSystem: 'bmap',
            renderItem: renderItemHai,
            itemStyle: {
                normal: {
                    color: '#FFC299',
                    opacity: 0.5
                }
            },
            animation: false,
            silent: true,
            data: [0],
            z: -100
        },
    ]
};


myChart.setOption(option);
// 获取百度地图实例，使用百度地图自带的控件
var bmap = myChart.getModel().getComponent('bmap').getBMap();


bmap.addControl(new BMap.MapTypeControl());

//调用百度的方法，使用bmap对象
	var point = new BMap.Point(106.404, 39.915);
	bmap.centerAndZoom(point, 1);

var point1 = new BMap.Point(110.404, 34.915);
  var opts = {
      position: point1,    // 指定文本标注所在的地理位置
      offset: new BMap.Size(0, 0),    //设置文本偏移量
  }
  var label = new BMap.Label("东汉", opts, {
    offset: new BMap.Size(0, 0)
  });  // 创建文本标注对象
label.setStyle({
    color: "rad",
    backgroundColor: 'transparent',//文本背景色
    borderColor: 'transparent',//文本框边框色
    fontSize: "19px",
    height: "20px",
    lineHeight: "20px",
    fontFamily: "微软雅黑"
});
bmap.addOverlay(label);

</script>
</body>
</html>
