<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
<div id="container" style="height: 100%"></div>
<script type="text/javascript" src="/static/echarts.js"></script>
<script type="text/javascript" src="/static/dataTool.js"></script>
<script type="text/javascript" src="/static/china.js"></script>
<script type="text/javascript" src="/static/world.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=litwTUbYUu77A3O8dTIZU5zBvCNnM58h"></script>
<script type="text/javascript" src="/static/bmap.js"></script>
<script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);

function renderItemBei(params, api) {
    var coords = [
    [
              104.4580078125,
              34.66935854524543
            ],
            [
              105.18310546875,
              34.56085936708384
            ],
            [
              105.71044921875,
              34.867904962568716
            ],
            [
              106.5234375,
              35.137879119634185
            ],
            [
              107.51220703125,
              34.939985151560435
            ],
            [
              108.28125,
              34.43409789359469
            ],
            [
              109.92919921875,
              34.43409789359469
            ],
            [
              111.1376953125,
              34.92197103616377
            ],
            [
              112.12646484375,
              34.79576153473033
            ],
            [
              113.13720703125,
              35.10193405724606
            ],
            [
              113.53271484375,
              34.994003757575776
            ],
            [
              113.4228515625,
              34.72355492704221
            ],
            [
              113.70849609375,
              34.27083595165
            ],
            [
              115.07080078125,
              34.05265942137599
            ],
            [
              118.740234375,
              34.125447565116126
            ],
            [
              118.91601562499999,
              34.74161249883172
            ],
            [
              119.42138671875,
              34.95799531086792
            ],
            [
              119.83886718750001,
              35.62158189955968
            ],
            [
              120.41015624999999,
              35.99578538642032
            ],
            [
              120.82763671875,
              36.26199220445664
            ],
            [
              121.77246093750001,
              36.756490329505176
            ],
            [
              122.431640625,
              36.756490329505176
            ],
            [
              122.73925781250001,
              37.28279464911045
            ],
            [
              122.40966796874999,
              37.52715361723378
            ],
            [
              121.37695312499999,
              37.579412513438385
            ],
            [
              121.04736328125,
              37.78808138412046
            ],
            [
              120.673828125,
              37.78808138412046
            ],
            [
              120.21240234375001,
              37.63163475580643
            ],
            [
              119.64111328125,
              37.23032838760387
            ],
            [
              119.24560546875001,
              37.33522435930639
            ],
            [
              119.15771484375,
              37.54457732085582
            ],
            [
              119.39941406249999,
              37.80544394934271
            ],
            [
              118.93798828125,
              38.151837403006766
            ],
            [
              118.36669921875,
              38.20365531807149
            ],
            [
              117.8173828125,
              38.46219172306828
            ],
            [
              117.92724609375,
              38.993572058209466
            ],
            [
              118.21289062499999,
              38.85682013474361
            ],
            [
              119.00390625,
              39.04478604850143
            ],
            [
              119.267578125,
              39.470125122358176
            ],
            [
              119.64111328125,
              39.8928799002948
            ],
            [
              120.30029296875,
              40.12849105685408
            ],
            [
              120.56396484375,
              40.29628651711716
            ],
            [
              120.89355468749999,
              40.59727063442024
            ],
            [
              121.2451171875,
              40.79717741518766
            ],
            [
              121.77246093750001,
              40.83043687764923
            ],
            [
              121.9482421875,
              41.21172151054787
            ],
            [
              121.22314453124999,
              41.623655390686395
            ],
            [
              120.38818359375,
              41.78769700539063
            ],
            [
              119.53125,
              41.541477666790286
            ],
            [
              118.32275390624999,
              41.50857729743935
            ],
            [
              117.00439453125,
              41.32732632036622
            ],
            [
              116.103515625,
              41.705728515237524
            ],
            [
              115.64208984374999,
              42.06560675405716
            ],
            [
              114.7412109375,
              42.73087427928485
            ],
            [
              114.9169921875,
              43.197167282501276
            ],
            [
              113.90625,
              44.10336537791152
            ],
            [
              112.34619140625,
              44.071800467511565
            ],
            [
              110.21484375,
              43.89789239125797
            ],
            [
              108.17138671875,
              43.75522505306928
            ],
            [
              107.07275390625,
              43.48481212891603
            ],
            [
              105.66650390625,
              43.723474896114794
            ],
            [
              102.50244140624999,
              43.866218006556394
            ],
            [
              101.162109375,
              43.48481212891603
            ],
            [
              99.1845703125,
              43.26120612479979
            ],
            [
              96.43798828125,
              43.866218006556394
            ],
            [
              95.16357421875,
              44.29240108529005
            ],
            [
              91.29638671875,
              44.18220395771566
            ],
            [
              91.5380859375,
              43.739352079154706
            ],
            [
              91.8017578125,
              42.58544425738491
            ],
            [
              91.8896484375,
              41.409775832009565
            ],
            [
              92.2412109375,
              40.027614437486655
            ],
            [
              93.88916015625,
              38.95940879245423
            ],
            [
              95.55908203125,
              38.805470223177466
            ],
            [
              97.294921875,
              39.16414104768742
            ],
            [
              99.31640625,
              39.06184913429154
            ],
            [
              100.65673828125,
              38.71980474264237
            ],
            [
              101.953125,
              37.80544394934271
            ],
            [
              102.59033203125,
              36.82687474287728
            ],
            [
              103.447265625,
              36.38591277287651
            ],
            [
              104.69970703125,
              35.7286770448517
            ],
            [
              104.5458984375,
              35.191766965947394
            ],
            [
              104.4580078125,
              34.66935854524543
            ]
    ];
    var points = [];
    for (var i = 0; i < coords.length; i++) {
        points.push(api.coord(coords[i]));
    }
    var color = api.visual('color');

    return {
        type: 'polygon',
        shape: {
            points: echarts.graphic.clipPointsByRect(points, {
                x: params.coordSys.x,
                y: params.coordSys.y,
                width: params.coordSys.width,
                height: params.coordSys.height
            })
        },
        style: api.style({
            fill: color,
            stroke: echarts.color.lift(color)
        })
    };
}

function renderItemNan(params, api) {
    var coords = [
    [
              106.435546875,
              18.06231230454674
            ],
            [
              106.41357421875,
              17.95783210227242
            ],
            [
              106.14990234375,
              18.291949733550336
            ],
            [
              105.6884765625,
              18.750309813140653
            ],
            [
              105.93017578125,
              19.31114335506464
            ],
            [
              106.12792968749999,
              19.80805412808859
            ],
            [
              106.61132812499999,
              20.20034600649375
            ],
            [
              107.314453125,
              20.673905264672843
            ],
            [
              107.51220703125,
              21.289374355860424
            ],
            [
              108.43505859374999,
              21.4121622297254
            ],
            [
              109.072265625,
              21.43261686447735
            ],
            [
              109.7314453125,
              21.309846141087192
            ],
            [
              109.7314453125,
              20.73556590521864
            ],
            [
              109.88525390624999,
              20.2209657795223
            ],
            [
              110.25878906249999,
              20.24158281954221
            ],
            [
              110.61035156249999,
              20.50935458871459
            ],
            [
              110.54443359375,
              20.940919670394646
            ],
            [
              111.005859375,
              21.268899719967695
            ],
            [
              112.60986328125,
              21.69826549685252
            ],
            [
              113.70849609375,
              22.04491330024569
            ],
            [
              114.169921875,
              21.922663209325922
            ],
            [
              114.49951171875,
              22.30942584120019
            ],
            [
              115.4443359375,
              22.573438264572395
            ],
            [
              116.56494140625001,
              23.039297747769726
            ],
            [
              117.861328125,
              24.00632619875113
            ],
            [
              118.93798828125,
              24.84656534821976
            ],
            [
              119.64111328125,
              25.522614647623293
            ],
            [
              119.81689453125,
              26.293415004265796
            ],
            [
              120.58593749999999,
              27.176469131898898
            ],
            [
              121.04736328125,
              27.586197857692664
            ],
            [
              121.9921875,
              29.152161283318915
            ],
            [
              122.431640625,
              29.7453016622136
            ],
            [
              122.25585937500001,
              30.183121842195515
            ],
            [
              121.9482421875,
              30.031055426540206
            ],
            [
              121.2451171875,
              30.4297295750316
            ],
            [
              121.9482421875,
              30.92107637538488
            ],
            [
              122.01416015625,
              31.316101383495624
            ],
            [
              121.97021484374999,
              31.728167146023935
            ],
            [
              121.57470703125,
              32.0639555946604
            ],
            [
              121.48681640624999,
              32.36140331527543
            ],
            [
              120.9814453125,
              32.65787573695528
            ],
            [
              120.91552734375,
              33.00866349457558
            ],
            [
              120.58593749999999,
              33.61461929233378
            ],
            [
              120.38818359375,
              34.27083595165
            ],
            [
              119.53125,
              34.70549341022544
            ],
            [
              119.35546875000001,
              35.0120020431607
            ],
            [
              118.93798828125,
              34.77771580360469
            ],
            [
              118.80615234374999,
              34.14363482031264
            ],
            [
              118.125,
              34.016241889667015
            ],
            [
              116.60888671874999,
              34.05265942137599
            ],
            [
              115.07080078125,
              34.07086232376631
            ],
            [
              113.70849609375,
              34.21634468843463
            ],
            [
              113.4228515625,
              34.65128519895413
            ],
            [
              113.5986328125,
              35.0120020431607
            ],
            [
              113.15917968749999,
              35.11990857099681
            ],
            [
              112.12646484375,
              34.813803317113155
            ],
            [
              111.1376953125,
              34.97600151317588
            ],
            [
              109.97314453125,
              34.470335121217474
            ],
            [
              108.369140625,
              34.470335121217474
            ],
            [
              107.666015625,
              34.867904962568716
            ],
            [
              106.74316406249999,
              35.15584570226544
            ],
            [
              105.93017578125,
              34.903952965590065
            ],
            [
              105.35888671875,
              34.59704151614417
            ],
            [
              104.47998046875,
              34.65128519895413
            ],
            [
              104.30419921875,
              34.161818161230386
            ],
            [
              104.04052734375,
              33.44977658311846
            ],
            [
              103.6669921875,
              32.43561304116276
            ],
            [
              102.76611328125,
              31.353636941500987
            ],
            [
              102.37060546875,
              30.637912028341123
            ],
            [
              101.8212890625,
              29.726222319395504
            ],
            [
              101.689453125,
              28.51696944040106
            ],
            [
              101.40380859375,
              28.323724553546015
            ],
            [
              100.8984375,
              28.497660832963472
            ],
            [
              99.95361328125,
              27.955591004642553
            ],
            [
              99.90966796875,
              27.488781168937997
            ],
            [
              99.11865234374999,
              27.21555620902969
            ],
            [
              98.8330078125,
              27.780771643348196
            ],
            [
              98.28369140625,
              28.033197847676377
            ],
            [
              98.37158203125,
              27.780771643348196
            ],
            [
              98.63525390624999,
              26.80446076654616
            ],
            [
              98.32763671875,
              25.64152637306577
            ],
            [
              97.822265625,
              24.966140159912975
            ],
            [
              97.20703125,
              24.407137917727667
            ],
            [
              96.8994140625,
              23.765236889758672
            ],
            [
              97.55859375,
              23.845649887659352
            ],
            [
              98.63525390624999,
              24.026396666017327
            ],
            [
              98.89892578125,
              23.42292845506526
            ],
            [
              98.67919921875,
              22.553147478403194
            ],
            [
              99.052734375,
              22.207749178410847
            ],
            [
              99.755859375,
              22.085639901650328
            ],
            [
              99.90966796875,
              21.759499730719817
            ],
            [
              100.4150390625,
              21.49396356306447
            ],
            [
              100.5908203125,
              21.49396356306447
            ],
            [
              100.986328125,
              21.6778482933475
            ],
            [
              101.29394531249999,
              21.739091217718574
            ],
            [
              101.337890625,
              21.309846141087192
            ],
            [
              101.6455078125,
              21.08450008351735
            ],
            [
              101.8212890625,
              21.514406720030294
            ],
            [
              101.689453125,
              21.963424936844223
            ],
            [
              102.10693359375,
              22.28909641872304
            ],
            [
              102.85400390625,
              22.085639901650328
            ],
            [
              103.55712890625,
              21.739091217718574
            ],
            [
              104.32617187499999,
              21.861498734372567
            ],
            [
              105.00732421875,
              21.166483858206583
            ],
            [
              104.8974609375,
              20.385825381874263
            ],
            [
              104.87548828125,
              19.72534224805787
            ],
            [
              105.09521484375,
              18.729501999072138
            ],
            [
              105.49072265625,
              18.04142122189195
            ],
            [
              106.435546875,
              18.06231230454674
            ]
    ];
    var points = [];
    for (var i = 0; i < coords.length; i++) {
        points.push(api.coord(coords[i]));
    }
    var color = api.visual('color');

    return {
        type: 'polygon',
        shape: {
            points: echarts.graphic.clipPointsByRect(points, {
                x: params.coordSys.x,
                y: params.coordSys.y,
                width: params.coordSys.width,
                height: params.coordSys.height
            })
        },
        style: api.style({
            fill: color,
            stroke: echarts.color.lift(color)
        })
    };
}


function renderItemHai(params, api) {
    var coords = [
    [
              108.67675781249999,
              19.37334071336406
            ],
            [
              108.6328125,
              19.20742852680121
            ],
            [
              108.61083984375,
              18.93746442964186
            ],
            [
              108.61083984375,
              18.6670631919266
            ],
            [
              108.69873046875,
              18.47960905583197
            ],
            [
              108.87451171875,
              18.417078658661257
            ],
            [
              109.22607421875,
              18.25021997706561
            ],
            [
              109.44580078125,
              18.166730410221938
            ],
            [
              109.66552734375,
              18.396230138028827
            ],
            [
              110.06103515625,
              18.417078658661257
            ],
            [
              110.23681640625,
              18.58377568837094
            ],
            [
              110.41259765625,
              18.625424540701264
            ],
            [
              110.5224609375,
              18.8335153964335
            ],
            [
              110.56640625,
              19.08288436934017
            ],
            [
              110.74218749999999,
              19.290405639497994
            ],
            [
              110.85205078124999,
              19.435514339097825
            ],
            [
              111.02783203125,
              19.621892180319374
            ],
            [
              111.0498046875,
              19.84939395842279
            ],
            [
              110.98388671874999,
              19.993998469485504
            ],
            [
              110.67626953125,
              20.159098270646936
            ],
            [
              110.5224609375,
              20.076570104545173
            ],
            [
              110.28076171875,
              20.097206227083888
            ],
            [
              110.0830078125,
              20.035289711352377
            ],
            [
              109.84130859375,
              19.993998469485504
            ],
            [
              109.70947265625,
              20.097206227083888
            ],
            [
              109.53369140625,
              19.84939395842279
            ],
            [
              109.248046875,
              19.932041306115536
            ],
            [
              109.1162109375,
              19.84939395842279
            ],
            [
              109.248046875,
              19.746024239625427
            ],
            [
              109.1162109375,
              19.663280219987662
            ],
            [
              108.67675781249999,
              19.37334071336406
            ]
    ];
    var points = [];
    for (var i = 0; i < coords.length; i++) {
        points.push(api.coord(coords[i]));
    }
    var color = api.visual('color');

    return {
        type: 'polygon',
        shape: {
            points: echarts.graphic.clipPointsByRect(points, {
                x: params.coordSys.x,
                y: params.coordSys.y,
                width: params.coordSys.width,
                height: params.coordSys.height
            })
        },
        style: api.style({
            fill: color,
            stroke: echarts.color.lift(color)
        })
    };
}

function renderItemTai(params, api) {
    var coords = [
    [
              120.0146484375,
              23.039297747769726
            ],
            [
              120.1904296875,
              22.755920681486405
            ],
            [
              120.41015624999999,
              22.411028521558706
            ],
            [
              120.5419921875,
              22.30942584120019
            ],
            [
              120.76171875,
              22.024545601240337
            ],
            [
              120.87158203125,
              22.268764039073968
            ],
            [
              121.06933593749999,
              22.63429269379353
            ],
            [
              121.28906250000001,
              22.978623970384913
            ],
            [
              121.4208984375,
              23.28171917560002
            ],
            [
              121.59667968749999,
              23.765236889758672
            ],
            [
              121.728515625,
              24.186847428521244
            ],
            [
              121.86035156249999,
              24.56710835257599
            ],
            [
              121.86035156249999,
              24.826624956562167
            ],
            [
              122.03613281249999,
              25.045792240303445
            ],
            [
              121.904296875,
              25.16517336866393
            ],
            [
              121.6845703125,
              25.304303764403617
            ],
            [
              121.5087890625,
              25.224820176765036
            ],
            [
              121.31103515625,
              25.12539261151203
            ],
            [
              121.09130859375,
              24.986058021167594
            ],
            [
              120.91552734375,
              24.746831298412058
            ],
            [
              120.52001953124999,
              24.387127324604496
            ],
            [
              120.38818359375,
              24.00632619875113
            ],
            [
              120.30029296875,
              23.805449612314625
            ],
            [
              120.16845703125,
              23.483400654325642
            ],
            [
              120.14648437499999,
              23.079731762449878
            ],
            [
              120.03662109374999,
              22.958393318086348
            ],
            [
              120.0146484375,
              23.039297747769726
            ]
    ];
    var points = [];
    for (var i = 0; i < coords.length; i++) {
        points.push(api.coord(coords[i]));
    }
    var color = api.visual('color');

    return {
        type: 'polygon',
        shape: {
            points: echarts.graphic.clipPointsByRect(points, {
                x: params.coordSys.x,
                y: params.coordSys.y,
                width: params.coordSys.width,
                height: params.coordSys.height
            })
        },
        style: api.style({
            fill: color,
            stroke: echarts.color.lift(color)
        })
    };
}


option = {
    backgroundColor: 'transparent',
    title: {
        text: '南北朝地图',
        left: 'center',
        textStyle: {
            color: '#000'
        }
    },
    tooltip : {
        trigger: 'item',
        formatter: '{b}'
    },
    bmap: {
        center: [104.114129, 37.550339],
        zoom: 5,
        roam: true,
        mapStyle: {
            styleJson: [
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": {
                            "color": "#6699CC"
                        }
                    },
                    {
                        "featureType": "land",
                        "elementType": "all",
                        "stylers": {
                            "color": "#DDDDDD"
                        }
                    },
                    {
                        "featureType": "boundary",
                        "elementType": "geometry",
                        "stylers": {
                            "color": "#064f85"
                        }
                    },
                    {
                        "featureType": "railway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "highway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "geometry",
                        "stylers": {
                            "color": "#004981"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "geometry.fill",
                        "stylers": {
                            "color": "#00508b"
                        }
                    },
                    {
                        "featureType": "poi",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "green",
                        "elementType": "all",
                        "stylers": {
                            "color": "#056197",
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "subway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "manmade",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "local",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "labels",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "boundary",
                        "elementType": "geometry.fill",
                        "stylers": {
                            "color": "#029fd4"
                        }
                    },
                    {
                        "featureType": "building",
                        "elementType": "all",
                        "stylers": {
                            "color": "#1a5787"
                        }
                    },
                    {
                        "featureType": "label",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    }
            ]
        }
    },
    series : [  
        {
            type: 'custom',
            coordinateSystem: 'bmap',
            renderItem: renderItemBei,
            itemStyle: {
                normal: {
                  color: '#FFC889',
                    opacity: 0.5
                }
            },
            animation: false,
            silent: true,
            data: [0],
            z: -100
        },
        {
            type: 'custom',
            coordinateSystem: 'bmap',
            renderItem: renderItemNan,
            itemStyle: {
                normal: {
                  color: '#FFC299',
                    opacity: 0.5
                }
            },
            animation: false,
            silent: true,
            data: [0],
            z: -100
        },
        {
            type: 'custom',
            coordinateSystem: 'bmap',
            renderItem: renderItemTai,
            itemStyle: {
                normal: {
                  color: '#FFC299',
                    opacity: 0.5
                }
            },
            animation: false,
            silent: true,
            data: [0],
            z: -100
        },
        {
            type: 'custom',
            coordinateSystem: 'bmap',
            renderItem: renderItemHai,
            itemStyle: {
                normal: {
                    color: '#FFC299',
                    opacity: 0.5
                }
            },
            animation: false,
            silent: true,
            data: [0],
            z: -100
        },
    ]
};


myChart.setOption(option);
// 获取百度地图实例，使用百度地图自带的控件
var bmap = myChart.getModel().getComponent('bmap').getBMap();


bmap.addControl(new BMap.MapTypeControl());

//调用百度的方法，使用bmap对象
	var point = new BMap.Point(106.404, 39.915);
	bmap.centerAndZoom(point, 1);

var point1 = new BMap.Point(110.404, 28.915);
  var opts = {
      position: point1,    // 指定文本标注所在的地理位置
      offset: new BMap.Size(0, 0),    //设置文本偏移量
  }
  var label = new BMap.Label("南朝宋", opts, {
    offset: new BMap.Size(0, 0)
  });  // 创建文本标注对象
label.setStyle({
    color: "rad",
    backgroundColor: 'transparent',//文本背景色
    borderColor: 'transparent',//文本框边框色
    fontSize: "15px",
    height: "20px",
    lineHeight: "20px",
    fontFamily: "微软雅黑"
});
bmap.addOverlay(label);

var point1 = new BMap.Point(110.404, 38.915);
  var opts = {
      position: point1,    // 指定文本标注所在的地理位置
      offset: new BMap.Size(0, 0),    //设置文本偏移量
  }
  var label = new BMap.Label("北魏", opts, {
    offset: new BMap.Size(0, 0)
  });  // 创建文本标注对象
label.setStyle({
    color: "rad",
    backgroundColor: 'transparent',//文本背景色
    borderColor: 'transparent',//文本框边框色
    fontSize: "15px",
    height: "20px",
    lineHeight: "20px",
    fontFamily: "微软雅黑"
});
bmap.addOverlay(label);


</script>
</body>
</html>
