<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
<div id="container" style="height: 100%"></div>
<script type="text/javascript" src="/static/echarts.js"></script>
<script type="text/javascript" src="/static/dataTool.js"></script>
<script type="text/javascript" src="/static/china.js"></script>
<script type="text/javascript" src="/static/world.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=litwTUbYUu77A3O8dTIZU5zBvCNnM58h"></script>
<script type="text/javascript" src="/static/bmap.js"></script>
<script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);


function renderItem(params, api) {
    var coords = [
    [
              105.9521484375,
              18.417078658661257
            ],
            [
              105.732421875,
              18.999802829053262
            ],
            [
              105.908203125,
              19.621892180319374
            ],
            [
              105.99609375,
              19.89072302399691
            ],
            [
              106.5234375,
              20.282808691330054
            ],
            [
              106.98486328124999,
              20.653346148076064
            ],
            [
              107.46826171874999,
              21.105000275382064
            ],
            [
              108.12744140625,
              21.596150576461426
            ],
            [
              109.05029296875,
              21.49396356306447
            ],
            [
              109.62158203125,
              21.3303150734318
            ],
            [
              109.53369140625,
              20.940919670394646
            ],
            [
              109.97314453125,
              20.20034600649375
            ],
            [
              110.4345703125,
              20.324023603422518
            ],
            [
              110.45654296875,
              20.46818922264095
            ],
            [
              110.50048828124999,
              20.756113874762082
            ],
            [
              110.58837890625,
              20.940919670394646
            ],
            [
              110.93994140625,
              21.3303150734318
            ],
            [
              113.35693359375,
              21.94304553343818
            ],
            [
              113.70849609375,
              22.370396344320053
            ],
            [
              114.01611328125,
              22.14670778001263
            ],
            [
              114.5654296875,
              22.49225722008518
            ],
            [
              115.77392578125,
              22.67484735118852
            ],
            [
              116.89453125,
              23.28171917560002
            ],
            [
              118.05908203124999,
              24.086589258228027
            ],
            [
              119.00390625,
              24.886436490787712
            ],
            [
              119.66308593749999,
              25.48295117535531
            ],
            [
              119.81689453125,
              26.27371402440643
            ],
            [
              120.5419921875,
              27.15692045688088
            ],
            [
              121.55273437499999,
              28.304380682962783
            ],
            [
              121.97021484374999,
              29.19053283229458
            ],
            [
              122.40966796874999,
              29.878755346037977
            ],
            [
              122.14599609375001,
              30.315987718557867
            ],
            [
              121.75048828124999,
              30.107117887092357
            ],
            [
              121.09130859375,
              30.524413269923986
            ],
            [
              121.92626953124999,
              30.90222470517144
            ],
            [
              121.97021484374999,
              31.672083485607402
            ],
            [
              121.61865234375,
              32.175612478499325
            ],
            [
              120.82763671875,
              32.879587173066305
            ],
            [
              120.25634765624999,
              33.65120829920497
            ],
            [
              119.88281249999999,
              34.23451236236987
            ],
            [
              119.37744140625,
              34.867904962568716
            ],
            [
              119.72900390625001,
              35.53222622770337
            ],
            [
              120.34423828125,
              35.96022296929667
            ],
            [
              121.37695312499999,
              36.70365959719456
            ],
            [
              121.88232421875,
              36.94989178681327
            ],
            [
              122.23388671874999,
              36.84446074079564
            ],
            [
              122.431640625,
              37.00255267215955
            ],
            [
              122.62939453125001,
              37.405073750176925
            ],
            [
              122.14599609375001,
              37.61423141542417
            ],
            [
              121.66259765625001,
              37.47485808497102
            ],
            [
              121.22314453124999,
              37.61423141542417
            ],
            [
              120.91552734375,
              37.84015683604136
            ],
            [
              120.56396484375,
              37.77071473849609
            ],
            [
              120.1904296875,
              37.579412513438385
            ],
            [
              119.83886718750001,
              37.21283151445594
            ],
            [
              119.4873046875,
              37.142803443716836
            ],
            [
              119.06982421874999,
              37.3002752813443
            ],
            [
              118.85009765625,
              37.50972584293751
            ],
            [
              118.58642578124999,
              37.87485339352928
            ],
            [
              118.47656249999999,
              38.03078569382294
            ],
            [
              117.90527343750001,
              38.39333888832238
            ],
            [
              117.8173828125,
              38.85682013474361
            ],
            [
              118.01513671875,
              39.095962936305476
            ],
            [
              118.5205078125,
              38.95940879245423
            ],
            [
              119.00390625,
              39.232253141714885
            ],
            [
              119.2236328125,
              39.53793974517628
            ],
            [
              119.53125,
              39.842286020743394
            ],
            [
              120.16845703125,
              40.094882122321145
            ],
            [
              120.673828125,
              40.58058466412761
            ],
            [
              121.640625,
              40.64730356252251
            ],
            [
              122.16796875,
              41.376808565702355
            ],
            [
              122.25585937500001,
              42.16340342422401
            ],
            [
              122.78320312499999,
              42.61779143282346
            ],
            [
              121.37695312499999,
              42.09822241118974
            ],
            [
              120.14648437499999,
              42.09822241118974
            ],
            [
              118.91601562499999,
              41.376808565702355
            ],
            [
              118.21289062499999,
              40.51379915504413
            ],
            [
              117.59765625,
              40.17887331434696
            ],
            [
              116.71874999999999,
              40.38002840251183
            ],
            [
              116.01562499999999,
              41.31082388091818
            ],
            [
              117.333984375,
              42.87596410238256
            ],
            [
              116.806640625,
              42.94033923363181
            ],
            [
              113.99414062499999,
              42.87596410238256
            ],
            [
              111.181640625,
              42.74701217318067
            ],
            [
              108.6328125,
              42.4234565179383
            ],
            [
              107.666015625,
              40.91351257612758
            ],
            [
              106.435546875,
              38.89103282648846
            ],
            [
              105.205078125,
              38.34165619279595
            ],
            [
              104.4140625,
              39.436192999314095
            ],
            [
              102.041015625,
              38.75408327579141
            ],
            [
              101.162109375,
              39.30029918615029
            ],
            [
              101.25,
              39.70718665682654
            ],
            [
              102.041015625,
              41.44272637767212
            ],
            [
              101.6015625,
              42.35854391749705
            ],
            [
              99.66796875,
              42.61779143282346
            ],
            [
              98.349609375,
              42.61779143282346
            ],
            [
              96.15234375,
              42.68243539838623
            ],
            [
              94.306640625,
              42.5530802889558
            ],
            [
              91.23046875,
              42.5530802889558
            ],
            [
              89.296875,
              42.22851735620852
            ],
            [
              87.1875,
              41.376808565702355
            ],
            [
              84.72656249999999,
              40.38002840251183
            ],
            [
              83.408203125,
              39.232253141714885
            ],
            [
              83.232421875,
              37.37015718405753
            ],
            [
              84.462890625,
              35.817813158696616
            ],
            [
              86.044921875,
              36.24427318493909
            ],
            [
              88.505859375,
              36.4566360115962
            ],
            [
              89.82421875,
              36.4566360115962
            ],
            [
              90.52734374999999,
              36.03133177633187
            ],
            [
              92.98828125,
              35.817813158696616
            ],
            [
              95.888671875,
              35.24561909420681
            ],
            [
              96.591796875,
              34.23451236236987
            ],
            [
              98.173828125,
              34.23451236236987
            ],
            [
              100.72265625,
              33.65120829920497
            ],
            [
              101.337890625,
              32.99023555965106
            ],
            [
              102.216796875,
              32.62087018318113
            ],
            [
              102.3046875,
              33.358061612778876
            ],
            [
              103.18359375,
              32.91648534731439
            ],
            [
              103.53515625,
              31.50362930577303
            ],
            [
              103.271484375,
              30.675715404167743
            ],
            [
              102.48046875,
              29.38217507514529
            ],
            [
              101.865234375,
              28.38173504322308
            ],
            [
              100.986328125,
              26.667095801104814
            ],
            [
              101.42578124999999,
              26.03704188651584
            ],
            [
              101.42578124999999,
              25.16517336866393
            ],
            [
              102.39257812499999,
              25.403584973186703
            ],
            [
              102.48046875,
              26.194876675795218
            ],
            [
              103.18359375,
              26.115985925333536
            ],
            [
              103.53515625,
              26.509904531413927
            ],
            [
              104.23828125,
              27.293689224852407
            ],
            [
              104.94140625,
              27.371767300523047
            ],
            [
              105.8203125,
              27.059125784374068
            ],
            [
              106.34765625,
              26.588527147308614
            ],
            [
              106.61132812499999,
              25.720735134412106
            ],
            [
              106.3916015625,
              25.3241665257384
            ],
            [
              106.34765625,
              24.54712317973075
            ],
            [
              106.6552734375,
              24.587090339209634
            ],
            [
              106.89697265625,
              24.5271348225978
            ],
            [
              107.22656249999999,
              23.946096014998382
            ],
            [
              106.76513671875,
              23.624394569716923
            ],
            [
              106.4794921875,
              23.845649887659352
            ],
            [
              106.58935546875,
              23.443088931121785
            ],
            [
              106.8310546875,
              23.120153621695614
            ],
            [
              106.74316406249999,
              22.938159639316396
            ],
            [
              106.45751953125,
              22.978623970384913
            ],
            [
              106.12792968749999,
              22.958393318086348
            ],
            [
              105.66650390625,
              23.180763583129444
            ],
            [
              105.4248046875,
              23.34225583513053
            ],
            [
              105.22705078125,
              23.261534167651835
            ],
            [
              104.853515625,
              23.120153621695614
            ],
            [
              104.61181640625,
              22.79643932091949
            ],
            [
              104.12841796875,
              22.776181505086505
            ],
            [
              104.08447265624999,
              22.61401087437029
            ],
            [
              103.71093749999999,
              22.715390019335942
            ],
            [
              104.1064453125,
              22.105998799750566
            ],
            [
              105.05126953124999,
              21.555284406923192
            ],
            [
              105.556640625,
              20.96143961409684
            ],
            [
              105.40283203124999,
              20.488773287109836
            ],
            [
              105.22705078125,
              19.91138351415555
            ],
            [
              105.09521484375,
              18.812717856407776
            ],
            [
              105.18310546875,
              18.458768120015126
            ],
            [
              105.9521484375,
              18.417078658661257
            ]
    ];
    var points = [];
    for (var i = 0; i < coords.length; i++) {
        points.push(api.coord(coords[i]));
    }
    var color = api.visual('color');

    return {
        type: 'polygon',
        shape: {
            points: echarts.graphic.clipPointsByRect(points, {
                x: params.coordSys.x,
                y: params.coordSys.y,
                width: params.coordSys.width,
                height: params.coordSys.height
            })
        },
        style: api.style({
            fill: color,
            stroke: echarts.color.lift(color)
        })
    };
}


function renderItemHai(params, api) {
    var coords = [
    [
              108.67675781249999,
              19.37334071336406
            ],
            [
              108.6328125,
              19.20742852680121
            ],
            [
              108.61083984375,
              18.93746442964186
            ],
            [
              108.61083984375,
              18.6670631919266
            ],
            [
              108.69873046875,
              18.47960905583197
            ],
            [
              108.87451171875,
              18.417078658661257
            ],
            [
              109.22607421875,
              18.25021997706561
            ],
            [
              109.44580078125,
              18.166730410221938
            ],
            [
              109.66552734375,
              18.396230138028827
            ],
            [
              110.06103515625,
              18.417078658661257
            ],
            [
              110.23681640625,
              18.58377568837094
            ],
            [
              110.41259765625,
              18.625424540701264
            ],
            [
              110.5224609375,
              18.8335153964335
            ],
            [
              110.56640625,
              19.08288436934017
            ],
            [
              110.74218749999999,
              19.290405639497994
            ],
            [
              110.85205078124999,
              19.435514339097825
            ],
            [
              111.02783203125,
              19.621892180319374
            ],
            [
              111.0498046875,
              19.84939395842279
            ],
            [
              110.98388671874999,
              19.993998469485504
            ],
            [
              110.67626953125,
              20.159098270646936
            ],
            [
              110.5224609375,
              20.076570104545173
            ],
            [
              110.28076171875,
              20.097206227083888
            ],
            [
              110.0830078125,
              20.035289711352377
            ],
            [
              109.84130859375,
              19.993998469485504
            ],
            [
              109.70947265625,
              20.097206227083888
            ],
            [
              109.53369140625,
              19.84939395842279
            ],
            [
              109.248046875,
              19.932041306115536
            ],
            [
              109.1162109375,
              19.84939395842279
            ],
            [
              109.248046875,
              19.746024239625427
            ],
            [
              109.1162109375,
              19.663280219987662
            ],
            [
              108.67675781249999,
              19.37334071336406
            ]
    ];
    var points = [];
    for (var i = 0; i < coords.length; i++) {
        points.push(api.coord(coords[i]));
    }
    var color = api.visual('color');

    return {
        type: 'polygon',
        shape: {
            points: echarts.graphic.clipPointsByRect(points, {
                x: params.coordSys.x,
                y: params.coordSys.y,
                width: params.coordSys.width,
                height: params.coordSys.height
            })
        },
        style: api.style({
            fill: color,
            stroke: echarts.color.lift(color)
        })
    };
}

function renderItemTai(params, api) {
    var coords = [
    [
              120.0146484375,
              23.039297747769726
            ],
            [
              120.1904296875,
              22.755920681486405
            ],
            [
              120.41015624999999,
              22.411028521558706
            ],
            [
              120.5419921875,
              22.30942584120019
            ],
            [
              120.76171875,
              22.024545601240337
            ],
            [
              120.87158203125,
              22.268764039073968
            ],
            [
              121.06933593749999,
              22.63429269379353
            ],
            [
              121.28906250000001,
              22.978623970384913
            ],
            [
              121.4208984375,
              23.28171917560002
            ],
            [
              121.59667968749999,
              23.765236889758672
            ],
            [
              121.728515625,
              24.186847428521244
            ],
            [
              121.86035156249999,
              24.56710835257599
            ],
            [
              121.86035156249999,
              24.826624956562167
            ],
            [
              122.03613281249999,
              25.045792240303445
            ],
            [
              121.904296875,
              25.16517336866393
            ],
            [
              121.6845703125,
              25.304303764403617
            ],
            [
              121.5087890625,
              25.224820176765036
            ],
            [
              121.31103515625,
              25.12539261151203
            ],
            [
              121.09130859375,
              24.986058021167594
            ],
            [
              120.91552734375,
              24.746831298412058
            ],
            [
              120.52001953124999,
              24.387127324604496
            ],
            [
              120.38818359375,
              24.00632619875113
            ],
            [
              120.30029296875,
              23.805449612314625
            ],
            [
              120.16845703125,
              23.483400654325642
            ],
            [
              120.14648437499999,
              23.079731762449878
            ],
            [
              120.03662109374999,
              22.958393318086348
            ],
            [
              120.0146484375,
              23.039297747769726
            ]
    ];
    var points = [];
    for (var i = 0; i < coords.length; i++) {
        points.push(api.coord(coords[i]));
    }
    var color = api.visual('color');

    return {
        type: 'polygon',
        shape: {
            points: echarts.graphic.clipPointsByRect(points, {
                x: params.coordSys.x,
                y: params.coordSys.y,
                width: params.coordSys.width,
                height: params.coordSys.height
            })
        },
        style: api.style({
            fill: color,
            stroke: echarts.color.lift(color)
        })
    };
}

option = {
    backgroundColor: 'transparent',
    title: {
        text: '隋朝地图',
        left: 'center',
        textStyle: {
            color: '#000'
        }
    },
    tooltip : {
        trigger: 'item',
        formatter: '{b}'
    },
    bmap: {
        center: [104.114129, 37.550339],
        zoom: 5,
        roam: true,
        mapStyle: {
            styleJson: [
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": {
                            "color": "#6699CC"
                        }
                    },
                    {
                        "featureType": "land",
                        "elementType": "all",
                        "stylers": {
                            "color": "#DDDDDD"
                        }
                    },
                    {
                        "featureType": "boundary",
                        "elementType": "geometry",
                        "stylers": {
                            "color": "#064f85"
                        }
                    },
                    {
                        "featureType": "railway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "highway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "geometry",
                        "stylers": {
                            "color": "#004981"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "geometry.fill",
                        "stylers": {
                            "color": "#00508b"
                        }
                    },
                    {
                        "featureType": "poi",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "green",
                        "elementType": "all",
                        "stylers": {
                            "color": "#056197",
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "subway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "manmade",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "local",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "labels",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "boundary",
                        "elementType": "geometry.fill",
                        "stylers": {
                            "color": "#029fd4"
                        }
                    },
                    {
                        "featureType": "building",
                        "elementType": "all",
                        "stylers": {
                            "color": "#1a5787"
                        }
                    },
                    {
                        "featureType": "label",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    }
            ]
        }
    },
    series : [  
    {
            type: 'custom',
            coordinateSystem: 'bmap',
            renderItem: renderItem,
            itemStyle: {
                normal: {
                  color: '#FFC299',
                    opacity: 0.5
                }
            },
            animation: false,
            silent: true,
            data: [0],
            z: -100
        },
        {
            type: 'custom',
            coordinateSystem: 'bmap',
            renderItem: renderItemTai,
            itemStyle: {
                normal: {
                  color: '#FFC299',
                    opacity: 0.5
                }
            },
            animation: false,
            silent: true,
            data: [0],
            z: -100
        },
        {
            type: 'custom',
            coordinateSystem: 'bmap',
            renderItem: renderItemHai,
            itemStyle: {
                normal: {
                    color: '#FFC299',
                    opacity: 0.5
                }
            },
            animation: false,
            silent: true,
            data: [0],
            z: -100
        },
    ]
};


myChart.setOption(option);
// 获取百度地图实例，使用百度地图自带的控件
var bmap = myChart.getModel().getComponent('bmap').getBMap();


bmap.addControl(new BMap.MapTypeControl());

//调用百度的方法，使用bmap对象
	var point = new BMap.Point(106.404, 39.915);
	bmap.centerAndZoom(point, 1);

var point1 = new BMap.Point(110.404, 34.915);
  var opts = {
      position: point1,    // 指定文本标注所在的地理位置
      offset: new BMap.Size(0, 0),    //设置文本偏移量
  }
  var label = new BMap.Label("隋朝", opts, {
    offset: new BMap.Size(0, 0)
  });  // 创建文本标注对象
label.setStyle({
    color: "rad",
    backgroundColor: 'transparent',//文本背景色
    borderColor: 'transparent',//文本框边框色
    fontSize: "19px",
    height: "20px",
    lineHeight: "20px",
    fontFamily: "微软雅黑"
});
bmap.addOverlay(label);

</script>
</body>
</html>
