<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
<div id="container" style="height: 100%"></div>
<script type="text/javascript" src="/static/echarts.js"></script>
<script type="text/javascript" src="/static/dataTool.js"></script>
<script type="text/javascript" src="/static/china.js"></script>
<script type="text/javascript" src="/static/world.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=litwTUbYUu77A3O8dTIZU5zBvCNnM58h"></script>
<script type="text/javascript" src="/static/bmap.js"></script>
<script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);


function renderItem(params, api) {
    var coords = [
            [
              109.44580078125,
              12.811801316582619
            ],
            [
              109.2041015625,
              13.368243250897299
            ],
            [
              109.18212890625,
              14.115267411122709
            ],
            [
              108.984375,
              14.817370620155254
            ],
            [
              108.720703125,
              15.47485740268724
            ],
            [
              108.3251953125,
              16.04581345375217
            ],
            [
              107.95166015624999,
              16.341225619207496
            ],
            [
              107.29248046875,
              16.804541076383455
            ],
            [
              107.1826171875,
              17.14079039331665
            ],
            [
              106.5673828125,
              17.853290114098012
            ],
            [
              106.23779296875,
              18.187606552494625
            ],
            [
              105.93017578125,
              18.458768120015126
            ],
            [
              105.908203125,
              18.895892559415024
            ],
            [
              105.908203125,
              19.476950206488414
            ],
            [
              106.5234375,
              20.3034175184893
            ],
            [
              107.666015625,
              21.207458730482642
            ],
            [
              108.6328125,
              21.289374355860424
            ],
            [
              109.51171875,
              21.207458730482642
            ],
            [
              109.77539062499999,
              20.2209657795223
            ],
            [
              110.56640625,
              20.632784250388028
            ],
            [
              110.56640625,
              20.96143961409684
            ],
            [
              111.181640625,
              21.289374355860424
            ],
            [
              112.8515625,
              21.861498734372567
            ],
            [
              113.466796875,
              22.268764039073968
            ],
            [
              114.08203125,
              22.024545601240337
            ],
            [
              115.48828125000001,
              22.268764039073968
            ],
            [
              117.158203125,
              23.241346102386135
            ],
            [
              118.125,
              24.046463999666567
            ],
            [
              119.53125,
              25.085598897064752
            ],
            [
              119.970703125,
              26.27371402440643
            ],
            [
              120.9375,
              28.07198030177986
            ],
            [
              121.640625,
              28.69058765425071
            ],
            [
              122.16796875,
              30.14512718337613
            ],
            [
              121.37695312499999,
              30.44867367928756
            ],
            [
              121.9921875,
              30.977609093348686
            ],
            [
              121.728515625,
              31.728167146023935
            ],
            [
              120.9375,
              32.69486597787505
            ],
            [
              120.05859375,
              34.23451236236987
            ],
            [
              119.267578125,
              34.813803317113155
            ],
            [
              119.70703125,
              35.17380831799959
            ],
            [
              120.234375,
              35.817813158696616
            ],
            [
              120.9375,
              36.4566360115962
            ],
            [
              121.904296875,
              36.73888412439431
            ],
            [
              122.51953124999999,
              37.09023980307208
            ],
            [
              122.08007812499999,
              37.50972584293751
            ],
            [
              120.32226562500001,
              37.71859032558816
            ],
            [
              119.267578125,
              37.50972584293751
            ],
            [
              119.091796875,
              38.06539235133249
            ],
            [
              117.861328125,
              38.47939467327645
            ],
            [
              117.7734375,
              39.027718840211605
            ],
            [
              118.828125,
              38.89103282648846
            ],
            [
              119.61914062499999,
              39.70718665682654
            ],
            [
              120.58593749999999,
              40.245991504199026
            ],
            [
              121.201171875,
              40.713955826286046
            ],
            [
              121.81640624999999,
              40.245991504199026
            ],
            [
              121.28906250000001,
              39.57182223734374
            ],
            [
              121.28906250000001,
              39.232253141714885
            ],
            [
              121.11328124999999,
              38.8225909761771
            ],
            [
              122.16796875,
              39.16414104768742
            ],
            [
              122.958984375,
              39.50404070558415
            ],
            [
              124.365234375,
              39.50404070558415
            ],
            [
              125.41992187499999,
              39.36827914916014
            ],
            [
              124.8046875,
              38.34165619279595
            ],
            [
              125.33203125,
              37.71859032558816
            ],
            [
              125.771484375,
              37.71859032558816
            ],
            [
              126.21093749999999,
              37.23032838760387
            ],
            [
              126.298828125,
              36.73888412439431
            ],
            [
              127.17773437499999,
              36.66841891894786
            ],
            [
              128.14453125,
              36.87962060502676
            ],
            [
              129.28710937499997,
              36.94989178681327
            ],
            [
              129.19921875,
              37.3002752813443
            ],
            [
              128.49609375,
              37.85750715625203
            ],
            [
              128.14453125,
              38.685509760012
            ],
            [
              127.705078125,
              39.50404070558415
            ],
            [
              127.96875,
              39.977120098439634
            ],
            [
              128.935546875,
              40.3130432088809
            ],
            [
              128.32031249999997,
              40.91351257612758
            ],
            [
              126.65039062499999,
              41.57436130598913
            ],
            [
              125.33203125,
              42.22851735620852
            ],
            [
              124.18945312500001,
              42.87596410238256
            ],
            [
              123.22265625000001,
              43.32517767999296
            ],
            [
              121.81640624999999,
              43.32517767999296
            ],
            [
              118.828125,
              43.13306116240612
            ],
            [
              118.125,
              42.94033923363181
            ],
            [
              115.83984375,
              42.22851735620852
            ],
            [
              113.90625,
              42.293564192170095
            ],
            [
              111.97265625,
              42.22851735620852
            ],
            [
              110.478515625,
              42.5530802889558
            ],
            [
              108.28125,
              42.22851735620852
            ],
            [
              102.65625,
              42.09822241118974
            ],
            [
              100.283203125,
              41.83682786072714
            ],
            [
              97.822265625,
              42.22851735620852
            ],
            [
              97.646484375,
              43.004647127794435
            ],
            [
              96.416015625,
              44.02442151965934
            ],
            [
              94.921875,
              44.653024159812
            ],
            [
              92.63671875,
              45.336701909968134
            ],
            [
              89.033203125,
              45.644768217751924
            ],
            [
              87.36328125,
              45.706179285330855
            ],
            [
              88.24218749999999,
              44.276671273775186
            ],
            [
              88.154296875,
              43.26120612479979
            ],
            [
              89.20898437499999,
              43.26120612479979
            ],
            [
              90.703125,
              42.8115217450979
            ],
            [
              91.49414062499999,
              42.8115217450979
            ],
            [
              92.98828125,
              43.32517767999296
            ],
            [
              95.09765625,
              42.68243539838623
            ],
            [
              96.50390625,
              42.22851735620852
            ],
            [
              96.15234375,
              41.31082388091818
            ],
            [
              93.69140625,
              41.44272637767212
            ],
            [
              91.14257812499999,
              41.376808565702355
            ],
            [
              88.76953125,
              41.902277040963696
            ],
            [
              88.505859375,
              40.78054143186033
            ],
            [
              89.47265625,
              40.51379915504413
            ],
            [
              92.197265625,
              39.90973623453719
            ],
            [
              91.845703125,
              38.95940879245423
            ],
            [
              90.703125,
              38.75408327579141
            ],
            [
              88.59374999999999,
              38.272688535980976
            ],
            [
              86.748046875,
              38.13455657705411
            ],
            [
              85.4296875,
              37.37015718405753
            ],
            [
              85.60546875,
              36.24427318493909
            ],
            [
              87.36328125,
              36.66841891894786
            ],
            [
              90.615234375,
              36.527294814546245
            ],
            [
              91.845703125,
              37.37015718405753
            ],
            [
              95.80078125,
              37.579412513438385
            ],
            [
              94.39453125,
              38.272688535980976
            ],
            [
              95.97656249999999,
              38.61687046392973
            ],
            [
              99.66796875,
              38.13455657705411
            ],
            [
              100.87646484375,
              37.33522435930639
            ],
            [
              101.05224609374999,
              36.89719446989036
            ],
            [
              101.14013671875,
              36.61552763134925
            ],
            [
              101.40380859375,
              36.43896124085945
            ],
            [
              102.54638671875,
              36.155617833818525
            ],
            [
              102.48046875,
              35.567980458012094
            ],
            [
              102.72216796875,
              34.57895241036948
            ],
            [
              104.1064453125,
              34.17999758688084
            ],
            [
              105.1171875,
              33.41310221370827
            ],
            [
              105.205078125,
              32.731840896865684
            ],
            [
              104.58984375,
              32.34284135639302
            ],
            [
              103.82080078125,
              32.37996146435729
            ],
            [
              103.64501953125,
              32.69486597787505
            ],
            [
              103.16162109375,
              32.175612478499325
            ],
            [
              102.19482421875,
              31.89621446335144
            ],
            [
              102.01904296874999,
              30.56226095049944
            ],
            [
              102.041015625,
              29.80251790576445
            ],
            [
              100.92041015625,
              28.420391085674304
            ],
            [
              99.95361328125,
              27.644606381943326
            ],
            [
              99.4482421875,
              28.420391085674304
            ],
            [
              98.39355468749999,
              28.57487404744697
            ],
            [
              99.25048828124999,
              25.34402602913433
            ],
            [
              100.1953125,
              25.54244147012483
            ],
            [
              100.4150390625,
              25.12539261151203
            ],
            [
              100.94238281249999,
              25.16517336866393
            ],
            [
              102.4365234375,
              23.059516273509303
            ],
            [
              104.61181640625,
              21.922663209325922
            ],
            [
              104.94140625,
              21.04349121680354
            ],
            [
              104.67773437499999,
              19.12440952808487
            ],
            [
              105.09521484375,
              18.500447458475094
            ],
            [
              106.25976562499999,
              17.14079039331665
            ],
            [
              107.29248046875,
              16.446622271646643
            ],
            [
              107.9736328125,
              15.517205256329813
            ],
            [
              108.369140625,
              14.753635331540442
            ],
            [
              108.39111328125,
              13.068776734357694
            ],
            [
              108.720703125,
              12.64033830684679
            ],
            [
              109.44580078125,
              12.811801316582619
            ]
    ];
    var points = [];
    for (var i = 0; i < coords.length; i++) {
        points.push(api.coord(coords[i]));
    }
    var color = api.visual('color');

    return {
        type: 'polygon',
        shape: {
            points: echarts.graphic.clipPointsByRect(points, {
                x: params.coordSys.x,
                y: params.coordSys.y,
                width: params.coordSys.width,
                height: params.coordSys.height
            })
        },
        style: api.style({
            fill: color,
            stroke: echarts.color.lift(color)
        })
    };
}


function renderItemHai(params, api) {
    var coords = [
    [
              108.67675781249999,
              19.37334071336406
            ],
            [
              108.6328125,
              19.20742852680121
            ],
            [
              108.61083984375,
              18.93746442964186
            ],
            [
              108.61083984375,
              18.6670631919266
            ],
            [
              108.69873046875,
              18.47960905583197
            ],
            [
              108.87451171875,
              18.417078658661257
            ],
            [
              109.22607421875,
              18.25021997706561
            ],
            [
              109.44580078125,
              18.166730410221938
            ],
            [
              109.66552734375,
              18.396230138028827
            ],
            [
              110.06103515625,
              18.417078658661257
            ],
            [
              110.23681640625,
              18.58377568837094
            ],
            [
              110.41259765625,
              18.625424540701264
            ],
            [
              110.5224609375,
              18.8335153964335
            ],
            [
              110.56640625,
              19.08288436934017
            ],
            [
              110.74218749999999,
              19.290405639497994
            ],
            [
              110.85205078124999,
              19.435514339097825
            ],
            [
              111.02783203125,
              19.621892180319374
            ],
            [
              111.0498046875,
              19.84939395842279
            ],
            [
              110.98388671874999,
              19.993998469485504
            ],
            [
              110.67626953125,
              20.159098270646936
            ],
            [
              110.5224609375,
              20.076570104545173
            ],
            [
              110.28076171875,
              20.097206227083888
            ],
            [
              110.0830078125,
              20.035289711352377
            ],
            [
              109.84130859375,
              19.993998469485504
            ],
            [
              109.70947265625,
              20.097206227083888
            ],
            [
              109.53369140625,
              19.84939395842279
            ],
            [
              109.248046875,
              19.932041306115536
            ],
            [
              109.1162109375,
              19.84939395842279
            ],
            [
              109.248046875,
              19.746024239625427
            ],
            [
              109.1162109375,
              19.663280219987662
            ],
            [
              108.67675781249999,
              19.37334071336406
            ]
    ];
    var points = [];
    for (var i = 0; i < coords.length; i++) {
        points.push(api.coord(coords[i]));
    }
    var color = api.visual('color');

    return {
        type: 'polygon',
        shape: {
            points: echarts.graphic.clipPointsByRect(points, {
                x: params.coordSys.x,
                y: params.coordSys.y,
                width: params.coordSys.width,
                height: params.coordSys.height
            })
        },
        style: api.style({
            fill: color,
            stroke: echarts.color.lift(color)
        })
    };
}

option = {
    backgroundColor: 'transparent',
    title: {
        text: '西汉地图',
        left: 'center',
        textStyle: {
            color: '#000'
        }
    },
    tooltip : {
        trigger: 'item',
        formatter: '{b}'
    },
    bmap: {
        center: [104.114129, 37.550339],
        zoom: 5,
        roam: true,
        mapStyle: {
            styleJson: [
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": {
                            "color": "#6699CC"
                        }
                    },
                    {
                        "featureType": "land",
                        "elementType": "all",
                        "stylers": {
                            "color": "#DDDDDD"
                        }
                    },
                    {
                        "featureType": "boundary",
                        "elementType": "geometry",
                        "stylers": {
                            "color": "#064f85"
                        }
                    },
                    {
                        "featureType": "railway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "highway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "geometry",
                        "stylers": {
                            "color": "#004981"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "geometry.fill",
                        "stylers": {
                            "color": "#00508b"
                        }
                    },
                    {
                        "featureType": "poi",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "green",
                        "elementType": "all",
                        "stylers": {
                            "color": "#056197",
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "subway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "manmade",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "local",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "labels",
                        "stylers": {
                            "visibility": "off"
                        }
                    },
                    {
                        "featureType": "boundary",
                        "elementType": "geometry.fill",
                        "stylers": {
                            "color": "#029fd4"
                        }
                    },
                    {
                        "featureType": "building",
                        "elementType": "all",
                        "stylers": {
                            "color": "#1a5787"
                        }
                    },
                    {
                        "featureType": "label",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "off"
                        }
                    }
            ]
        }
    },
    series : [  
    {
            type: 'custom',
            coordinateSystem: 'bmap',
            renderItem: renderItem,
            itemStyle: {
                normal: {
                  color: '#FFC299',
                    opacity: 0.5
                }
            },
            animation: false,
            silent: true,
            data: [0],
            z: -100
        },
        {
            type: 'custom',
            coordinateSystem: 'bmap',
            renderItem: renderItemHai,
            itemStyle: {
                normal: {
                    color: '#FFC299',
                    opacity: 0.5
                }
            },
            animation: false,
            silent: true,
            data: [0],
            z: -100
        },
    ]
};


myChart.setOption(option);
// 获取百度地图实例，使用百度地图自带的控件
var bmap = myChart.getModel().getComponent('bmap').getBMap();


bmap.addControl(new BMap.MapTypeControl());

//调用百度的方法，使用bmap对象
	var point = new BMap.Point(106.404, 39.915);
	bmap.centerAndZoom(point, 1);

var point1 = new BMap.Point(110.404, 34.915);
  var opts = {
      position: point1,    // 指定文本标注所在的地理位置
      offset: new BMap.Size(0, 0),    //设置文本偏移量
  }
  var label = new BMap.Label("西汉", opts, {
    offset: new BMap.Size(0, 0)
  });  // 创建文本标注对象
label.setStyle({
    color: "rad",
    backgroundColor: 'transparent',//文本背景色
    borderColor: 'transparent',//文本框边框色
    fontSize: "19px",
    height: "20px",
    lineHeight: "20px",
    fontFamily: "微软雅黑"
});
bmap.addOverlay(label);

</script>
</body>
</html>
