html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

button,
input,
select,
textarea {
  margin: 0;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
input,
select,
button,
option,
textarea,
optgroup {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  color: inherit;
  outline: none;
}

template {
  display: none;
}

a {
  text-decoration: none;
}

a,
button,
input[type='submit'],
input[type='button'] {
  cursor: pointer;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

svg:not(:root) {
  overflow: hidden;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
  font-weight: normal;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  font-weight: normal;
}

:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
}

ul,
ol {
  list-style-position: inside;
}
